<h3>Login</h3>
<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div>
    <label>Email</label>
    <input 
    ngModel
    name="email"
    type="text" 
    placeholder="Email"
    pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    required>
  </div>
  
  <div>
    <label>パスワード</label>
    <input 
    ngModel
    name="password"
    type="text" 
    placeholder="パスワード"
    required>
  </div>

  <button [disabled]="!loginForm.valid" type="submit">Login</button>
</form>
<br>
<div *ngIf="errors && errors.length>0"
  class="alert alert-danger">
  <p *ngFor="let error of errors">{{ error.detail }}</p>
</div>
<div>
  <button>
    <a [routerLink]="['/register']">新規登録はこちら</a>
  </button>
</div>
