<div class="container">
  <h3>Login</h3>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form-group">
      <label>Email</label>
      <input 
      ngModel
      name="email"
      type="text" 
      placeholder="Email"
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
      class="form-control"
      aria-describedby="emailHelp"
      required>
    </div>
    
    <div class="form-group">
      <label>パスワード</label>
      <input 
      ngModel
      name="password"
      type="text" 
      placeholder="パスワード"
      class="form-control"
      required>
    </div>
  
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
  </form>
  <br>
  <div *ngIf="errors && errors.length>0"
    class="alert alert-danger" role="alert">
    <p *ngFor="let error of errors">{{ error.detail }}</p>
  </div>
  <div>
    <button class="btn btn-outline-primary">
      <a [routerLink]="['/register']" >新規登録はこちら</a>
    </button>
  </div>
</div>
