<div class="container">
  <h1>パスワード変更</h1>
  <form #editPasswordForm="ngForm" (ngSubmit)="put(editPasswordForm)">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>現在のパスワード</mat-label>
        <input
          matInput
          ngModel
          name="password"
          [type]="hide ? 'password' : 'text'"
          class="form-control"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>新しいパスワード</mat-label>
        <input
          matInput
          ngModel
          name="newPassword"
          [type]="hide ? 'password' : 'text'"
          class="form-control"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>新しいパスワード（確認用）</mat-label>
        <input
          matInput
          ngModel
          name="confirmNewPassword"
          [type]="hide ? 'password' : 'text'"
          class="form-control"
          required
        />
      </mat-form-field>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      mat-raised-button
      color="secondary"
    >
      変更
    </button>
    <a [routerLink]="['/my-page']">
      <button mat-raised-button color="secondary" class="btn btn-primary">
        戻る
      </button>
    </a>
  </form>
  <br />
  <div
    *ngIf="errors && errors.length > 0"
    class="alert alert-danger"
    role="alert"
  >
    <p *ngFor="let error of errors">{{ error.detail }}</p>
  </div>
</div>
