<div class="container">
  <div *ngIf="movie">
    <h1>{{ movie.title }}</h1>
    <div class="movie-info">
      <img
        src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}"
        onerror="this.onerror=null;this.src='../../assets/no_image_available.jpg'"
      />
      <p class="movie-overview">{{ movie.overview }}</p>
    </div>
  </div>
  <div>
    <h1>スタッフ</h1>
  </div>
  <div class="row row-20">
    <div class="col-xs-4">
      <h2>{{ director.name }}</h2>
      <h3>{{ director.job }}</h3>
      <img
        src="https://image.tmdb.org/t/p/w342{{ director.profile_path }}"
        onerror="this.onerror=null;this.src='../../assets/no_image_available.jpg'"
        width="200"
      />
    </div>
    <div class="col-xs-4">
      <h2>{{ screenplay.name }}</h2>
      <h3>{{ screenplay.job }}</h3>
      <img
        src="https://image.tmdb.org/t/p/w342{{ screenplay.profile_path }}"
        onerror="this.onerror=null;this.src='../../assets/no_image_available.jpg'"
        width="200"
      />
    </div>
    <div class="col-xs-4">
      <h2>{{ photography.name }}</h2>
      <h3>{{ photography.job }}</h3>
      <img
        src="https://image.tmdb.org/t/p/w342{{ photography.profile_path }}"
        onerror="this.onerror=null;this.src='../../assets/no_image_available.jpg'"
        width="200"
      />
    </div>
    <div class="col-xs-4">
      <h2>{{ producer.name }}</h2>
      <h3>{{ producer.job }}</h3>
      <img
        src="https://image.tmdb.org/t/p/w342{{ producer.profile_path }}"
        onerror="this.onerror=null;this.src='../../assets/no_image_available.jpg'"
        width="200"
      />
    </div>
  </div>
  <div>
    <h1>キャスト</h1>
  </div>
  <div class="row row-20">
    <div *ngFor="let cast of casts" class="col-xs-4">
      <h2>{{ cast.name }}</h2>
      <img
        src="https://image.tmdb.org/t/p/w342{{ cast.profile_path }}"
        onerror="this.onerror=null;this.src='../../assets/no_image_available.jpg'"
        width="200"
      />
    </div>
  </div>
  <div>
    <h1>近い映画</h1>
  </div>
  <div class="row row-20">
    <div *ngFor="let similarMovie of similarMovies" class="col-xs-4">
      <h2 class="movie-title">{{ similarMovie.title }}</h2>
      <a routerLink="/detail/{{ similarMovie.id }}">
        <img
          src="https://image.tmdb.org/t/p/w300{{ similarMovie.poster_path }}"
          onerror="this.onerror=null;this.src='../../assets/no_image_available.jpg'"
        />
      </a>
    </div>
  </div>

  <div class="back-btn">
    <button
      mat-raised-button
      color="secondary"
      class="btn btn-primary"
      (click)="goBack()"
    >
      戻る
    </button>
  </div>
</div>
