<ng-container *ngIf="auth.isAuthenticated() && auth.isEditor()">
  <div class="container">
    <h3>{{ users }}さんの記事一覧</h3>
    <div>
      <ul class="list-group">
        <li *ngFor="let myArticle of myArticles | paginate: { itemsPerPage: 3, currentPage: page }" class="list-group-item">
          <a [routerLink]="[myArticle._id]">{{ myArticle.title }}</a>
          <small class="d-flex w-100 justify-content-between">{{ myArticle.created | date: "yyyy/MM/dd" }}</small>
        </li>
      </ul>
    
      <pagination-controls (pageChange)="page = $event" class="pagination justify-content-center"></pagination-controls>
    </div>
    <a routerLink="/edit-profile/{{userId}}">
      <button mat-raised-button color="primary">ユーザー情報変更</button>
    </a>
    <a routerLink="/edit-password/{{userId}}">
      <button mat-raised-button color="primary">パスワード変更</button>
     </a>
  </div>
</ng-container>