<div class="container">
  <h1>東京都映画館マップ</h1>
  <div>
    <agm-map [longitude]="lng" [latitude]="lat" [zoom]="zoom">
      <agm-marker
        *ngFor="let movieMap of movieMaps"
        longitude="{{ movieMap.lng }}"
        latitude="{{ movieMap.lat }}"
      >
        <agm-info-window [disableAutoPan]="true">
          {{ movieMap.theater }}<br />
          <a href="{{ movieMap.url }}" target="_blank">{{ movieMap.url }}</a>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
