.container {
  width: 70%;
}

.container h1 {
  margin: 50px auto;
  border-left: solid 5px rgb(83, 69, 43);
  padding-left: 7px;
  font-family: "Noto Sans JP";
  letter-spacing: 1px;
  font-weight: 900;
}

.user-name {
  font-size: 16px;
  display: inline-block;
  width: 30%;
}

.list-group-item {
  display: flex;
  height: 60px;
}
