<ng-container *ngIf="auth.isAuthenticated() && auth.isSystemAdmin()">
  <div class="container">
    <h3>ユーザー一覧</h3>
    <div>
      <ul class="list-group">
        <li *ngFor="let user of users" class="list-group-item">
          <p>ユーザー名：{{ user.username }}</p>
          <small class="d-flex w-100 justify-content-between">
            <button class="ml-auto">
               <a [routerLink]="[user._id]">削除</a>
            </button>
          </small>
        </li>
      </ul>
    </div>
  
    <div>
      <button class="btn btn-outline-primary">
      <a routerLink="/register">
        新規登録
      </a>
      </button>
    </div>
  </div>
</ng-container>
