<ng-container>
  <div class="container">
    <h3>記事詳細</h3>
    <!-- <p>投稿者：{{ username }}</p> -->
    <p>{{ article.created | date: "yyyy/MM/dd" }}</p>
    <p>{{ article.title }}</p>
    <p>{{ article.text }}</p>
    <a [routerLink]="['/my-page']">
      <button mat-raised-button color="primary">戻る</button>
    </a>
    <ng-container *ngIf="auth.isAuthenticated()">
      <a routerLink="/update-form/{{article._id}}">
        <button mat-raised-button color="primary">編集</button>
      </a>
      <button (click)="delete()" mat-raised-button color="primary">削除</button>
    </ng-container>
  </div>
</ng-container>