<ng-container>
  <div class="container">
    <h3>記事詳細</h3>
    <!-- <p>投稿者：{{ username }}</p> -->
    <p>{{ article.created | date: "yyyy/MM/dd" }}</p>
    <p>{{ article.title }}</p>
    <p>{{ article.text }}</p>
    <button class="btn btn-outline-primary">
      <a [routerLink]="['/my-page']">記事一覧</a>
    </button>
    <ng-container *ngIf="auth.isAuthenticated()">
      <button class="btn btn-outline-primary">
        <a routerLink="/update-form/{{article._id}}">編集</a>
      </button>
      <button (click)="delete()" class="btn btn-outline-primary">削除</button>
    </ng-container>
  </div>
</ng-container>